body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #0D0F12;
  color: #F1F3F5;
  margin: 0;
  height: 100vh;
}
.controls {
  font-family: var(--font-rounded-sans);
}
.grid{
  width: max-content;
  margin: 10px auto;  /*center the grid*/
  cursor: pointer;
}
.row-format {
  float: left; /*float to the left and even if space available stacks below */
  clear: both;
}
.cell-format {
	display: flex;
  width: 10px;
  height: 10px;
  float: left;
  border-radius: 2px;
  border-top: 1px solid #114678;
  border-left: 1px solid #114678;
  background: #16191D;
  transition: all 0.3s ease-in-out 0.1s; /*for smooth growing*/
  -webkit-transition: all 0.3s ease-in-out 0.1s; /*for smooth growing*/
  -moz-transition: all 0.3s ease-in-out 0.1s;
}
.cell-format:hover { /*on hover*/
	background: #eef;
}
.cell-format.alive { /*when created cell has a class alive */
  background: #08c;
}
.cell-format.heat {
  background: red;
  opacity: 0.5;
}
.cell-format:last-child { /*The border to the rightmost elements*/
	border-right: 1px solid #114678;
}
.row-format:last-child .cell-format { /*The border to the bottom most element*/
	border-bottom: 1px solid #114678;
}
h1 {
  font-family: var(--font-geometric-humanist);
  font-size: 40px;
  margin-top: 10px;
}
.documentation {
  font-family: var(--font-industrial);
  font-size: 16px;
  margin-top: 8px;
}
button {
  font-family: var(--font-rounded-sans);
  background: #12B886;
}
