.grid{
  width: max-content;
  margin: 0 auto;  /*center the grid*/
  cursor: pointer;
}
.row-format {
  float: left; /*float to the left and even if space available stacks below */
  clear: both;
}
.cell-format {
	display: flex;
  width: 50px;
  height: 50px;
  float: left;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  background: #d3d3d3;
  transition: all 0.6s ease-in-out 0.1s; /*for smooth growing*/
  -webkit-transition: all 0.6s ease-in-out 0.1s; /*for smooth growing*/
  -moz-transition: all 0.6s ease-in-out 0.1s;
}
.cell-format:hover { /*on hover*/
	background: #eef;
}
.cell-format.alive { /*when created cell has a class alive */
  background: #08c;
}
.cell-format.heat {
  background: red;
  opacity: 0.5;
}
.cell-format:last-child{ /*The border to the rightmost elements*/
	border-right: 1px solid #000;
}
.row-format:last-child .cell-format{ /*The border to the bottom most element*/
	border-bottom: 1px solid #000;
}
h1{
  font-family: 'Poiret One', serif;
  font-size: 40px;
}
.text-space1{ /*formatting for the text space one*/
  position: absolute;
  margin: 0px 15px 0px 15px;
  padding: 0px 10px 0px 10px;
  top: 104%;
  left: 30%;
  font-size: 20px;
  height: auto;
  font-family: Fira Sans;
}

